body {
  font-family: 'Noto Serif', serif;
}

h1,
h2 {
  font-weight: 400;
  font-size: inherit;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

section.header {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

section.middle {
  height: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

section.middle .espa {
  margin-right: 50px;
}

section.middle .espa img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

section.middle .address {
  margin: auto 0;
}

section.middle .address h1 {
  text-align: center;
  font-size: 1.6em;
}

section.middle .address h2 {
  text-align: center;
  font-size: 1.2em;
}

section.footer {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

section.footer a {
  /* size */
  display: inline-block;
  min-width: 16rem;
  max-width: 100%;
  padding: 0.875rem 2rem;

  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;

  border-color: rgba(0, 0, 0, 0.9);
  border-radius: 0;
  border-width: 1px;

  cursor: pointer;

  text-decoration: none;
  text-align: center;
  line-height: 2;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}

.logo-name {
  font-size: 2.5em;
  margin-bottom: 20px;
  font-weight: 400;
}

.logo-subtitle {
  text-align: center;
  font-weight: 400;
}

.logo-subtitle span {
  display: inline-block;
  font-size: 1.2em;
  position: relative;
  line-height: 30px;
}

.logo-subtitle span:before,
.logo-subtitle span:after {
  content: '';
  position: absolute;
  height: 5px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  top: 10px;
  width: 50px;
}

.logo-subtitle span:before {
  right: 100%;
  margin-right: 15px;
}

.logo-subtitle span:after {
  left: 100%;
  margin-left: 15px;
}

@media only screen and (max-width: 700px) {
  section.middle {
    display: flex;
    flex-direction: column;
    height: initial;
  }

  section.middle .address {
    text-align: center;
    font-size: 1.2em;
  }

  section.middle .espa {
    margin-right: 0;
  }

  section.header .logo-name {
    font-size: 1.6em;
  }

  section.header .logo-subtitle {
    font-size: 1em;
  }
}
